.section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  align-items: stretch;
  justify-content: stretch;
  padding: 20px;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  padding: 20px;
}

.button {
  position: absolute;
  top: 20px;
  left: 20px;
}
