/* Use border-box box model. */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Colors. */
:root {
  --color1: #264653;
  --color2: #2A9D8F;
  --color3: #E9C46A;
  --color5: #F4A261;
  --color6: #E76F51;
}

body {
  background: var(--color1);
  color: var(--color2);
  overflow: hidden;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ant-card, .ant-modal-content {
  background: color-mix(in srgb, var(--color1) 50%, black 20%) !important;
  color: var(--color3) !important;
  border-color: var(--color3) !important;
}

/* Make modals less transparent. */
.ant-modal-content {
  background: color-mix(in srgb, var(--color1) 60%, black 30%) !important;
}

.ant-card-head {
  border-color: var(--color3) !important;
}

.ant-modal-header {
  background: transparent !important;
}

input, textarea {
  background: color-mix(in srgb, var(--color1) 50%, white 20%) !important;
  color: color-mix(in srgb, var(--color3) 50%, white 50%) !important;
}

label, .ant-card-head-title, .ant-modal-title {
  color: var(--color3) !important;
}

input::placeholder, textarea::placeholder {
  color: color-mix(in srgb, var(--color3) 50%, black 0%) !important;
}

.ant-btn-default {
  background: color-mix(in srgb, var(--color1) 50%, black 20%) !important;
  color: var(--color2) !important;
  border-color: color-mix(in srgb, var(--color3) 50%, black 0%) !important;
}

.ant-card .ant-space-item {
  margin-bottom: 5px !important;
}

button:disabled {
  color: var(--color2) !important;
}

.ant-notification-notice-wrapper {
  background: var(--color1) !important;
}

.ant-notification-notice-message {
  color: var(--color3) !important;
}

.ant-notification-notice-description {
  color: var(--color2) !important;
}

.ant-typography {
  color: var(--color2) !important;
}

h2.ant-typography {
  margin: 0;
}

