.details {
  height: calc(100vh - 155px);
  position: relative;
}

.scrollableContent {
  overflow-y: auto;
  margin-bottom: 20px;
  height: calc(100% - 95px);
}

.subtitle {
  margin-bottom: 10px;
  display: block;
}

@media (max-width: 768px) {
  .scrollableContent {
    height: calc(100% - 100px);
  }
}
